public/
*log
out.txt
changelog.txt
*.pdf
@eaDir

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.l
*.synctex.gz
*.fdb_latexmk

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xm
*.DS_STORE
.hugo_build.lock
