<input type="checkbox" id="tr-button" name="tr-button" class="desktop">
<label class="button green desktop" for="tr-button">Te Reo Guide</label>

{{ with .Site.GetPage "/te-reo" }}
<div id="tr-content" class="desktop">
{{ .Content }}
</div>
{{ end }}

{{ $page := . }}
{{ with .File }}
    {{ if isset $page.Params "file" }}
        <a class="button yellow" title="Edit {{$.Title}} on Github" target="_blank" href="https://github.com/finnito/Science/edit/master/data/{{ $page.File.Dir }}homework.toml">✍️ Edit Page</a>
    {{ else }}
        {{ if eq .File.LogicalName "_index.md" }}
            <a class="button yellow" title="Edit {{$.Title}} on Github" target="_blank" href="https://github.com/finnito/Science/edit/master/content/{{ .Path }}">✍️ Edit Page</a>
        {{ else }}
            <a class="button yellow" title="Edit {{$.Title}} on Github" target="_blank" href="https://github.com/finnito/Science/edit/master/content/{{ .File.Dir }}{{ .LogicalName }}">✍️ Edit Page</a>
        {{ end }}
    {{ end }}
{{ end }}

<a class="button blue" title="Ask a Question" href='mailto:lsf@cashmere.school.nz?subject=Pūtaiao: {{ .Page.Title }}'>📨 Email Me</a>
