  <footer>
    <hr/>
    {{ if not .IsHome }}
      <blockquote><p>Please consider <a href="https://github.com/sponsors/finnito">sponsoring me on Github</a> for as little as $5/month if you are an educator and find my materials of use. I would greatly appreciate it! 🧡</p>

      <iframe src="https://github.com/sponsors/finnito/button" title="Sponsor finnito" height="35" width="107" style="border: 0;"></iframe></blockquote>
    {{ end }}
    <p>
      <a title="Email Me" href="mailto:finn@lesueur.nz">Email Me</a>
      |
    	<a title="View on Github" href="https://github.com/Finnito/Science">Github Repository</a>
      |
      <a title="Finn LeSueur" href="https://finn.lesueur.nz">Site by Finn LeSueur</a>
    </p>
  </footer>
  {{ if (isset .Params "katex") }}{{ partial "katex.html" }}{{ end }}
  </body>
</html>
