:root {
  --blue-dark: #0077cc;
  --blue-main: #1fa2ffff;
  --blue-light: #5cbbff;
  --neutral-dark: #ceb6b6;
  --neutral-main: #decece;
  --neutral-light: #f7f3f3ff;
  --green-dark: #4b6c37;
  --green-main: #6A994E;
  --green-light: #90ba78;
  --yellow-dark: #e59500ff;
  --yellow-main: #ffbf47;
  --yellow-light: #f6e58d;
  --red-dark: #963638;
  --red-main: #BC4749;
  --red-light: #d48788;
  --black-main: #02040fff;
}

html,body {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--black-main);
  line-height: 1.75;
  max-width: 800px;
  margin: auto;
  padding: 0 0.5em;
  scroll: none;
}

a > em { font-weight: 300; }

img, iframe {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  /*box-shadow: 0 0 10px rgba(0,0,0,0.16), 0 0 10px rgba(0,0,0,0.23);*/
  /*border-radius: 0.25rem;*/
  /*overflow: hidden;*/
  max-height: 75vh;
}

/*main > hr {
  display: none;
}*/

body.single main > h1 {
  border-bottom: 3px solid var(--black-main);
}

h1 > a {
  text-decoration: none;
  color: var(--blue-main);
}

p a {
  font-weight: 500;
}

:target {
  background-color: var(--yellow-main);
}

:target::before {
  content: "➡️";
  margin-right: 0.5rem;
}

p.instruction {
  background-color: var(--yellow-light);
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

p.instruction::before {
  content: "❗️";
}

p.instruction p {
  display: inline-block;
  margin: 0;
}

.koru {
  margin: 0;
  width: 100vw;
  height: 30px;
  background-image: url(/kowhaiwhai.png);
  background-repeat: repeat-x;
  background-size: contain;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

iframe[title^='Sponsor'] {
  box-shadow: none;
}

h1 {
  margin: 0.5rem 0;
  font-weight: 700;
}

h2 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.25;
}

h2.title {
  font-size: 1.7rem;
}

h2:not(.title) {
  border-bottom:  2px solid var(--black-main);
}

h1 em,
h2 em,
h3 em,
h4 em {
  font-weight: 300;
  font-style: italic;
}

h3 {
  font-weight: 500;
  margin-bottom: 0;
}

li h4,
h4 {
  display: inline;
  font-weight: 500;
}

h4 { margin: 0; }

.changelog {
  border: 1px solid var(--neutral-main);
  background-color: var(--neutral-light);
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}

.changelog h3 {
  margin: 0;
}

.changelog h3 + p {
  margin: 0;
}

.changelog details {
  line-height: 1.2;
}

.changelog details summary {
  margin-top: 0.5rem;
  font-weight: 500;
}

.changelog details[open] {
  border: none;
  background-color: transparent;
}

.changelog details pre {
  margin: 0 0 0 2rem;
  overflow-x: scroll;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.heading-anchor { font-size: 0.8rem; text-decoration: none; }

blockquote { 
  border-left: 2px solid var(--green-main);
  border-radius: 0.25rem;
  margin-left: 1rem;
  padding-left: 1rem;
}

main > blockquote {
  font-size: 1.5rem;
}

h3[id*='lesson-plans'] ~ ol {
  padding: 0;
  list-style-position: inside;
}

h3[id*='lesson-plans'] ~ ol h4 {
  font-weight: 700;
  border-bottom: 2px solid var(--black-main);
}

h3[id*='lesson-plans'] ~ ol strong {
  background-color: var(--green-light);
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-weight: 450;
}

h3[id*='lesson-plans'] ~ ol > li {
  background-color: var(--neutral-light);
  border: 1px solid var(--neutral-main);
  border-radius: 0.1rem;
  padding: 0.5rem;
  margin: 0.25rem 0;
}

footer { padding-bottom: 1rem; }

a {
  color: var(--blue-main);
  word-break: break-word;
}

a:visited {
  color: var(--blue-dark);
}

.menu {
  margin-top: 1rem;
  padding: 0;
}

.menu > li {
  display: block;
  margin: 1rem 0.25rem;
  text-align: right;
  background: var(--neutral-light);
  border-radius: 0.25rem;
  border: 2px solid transparent;
}

.menu li:last-of-type {
  margin-right: 0;
}

.menu li.active {
  border: 2px solid var(--blue-main);
  background-color: transparent;
}

.menu li a {
  text-decoration: none;
  padding: 0 0.5rem;
  display: block;
}

.unit-tree {
  list-style: none;
  padding: 0;
}

.unit-tree > li {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0 1rem 0;
}

.unit-tree > li ol {
  font-size: 1rem;
  font-weight: normal;
  list-style: none;
  padding-left: 1rem;
}

.article-meta {
  text-align: center;
}

.article-meta ul {
  padding: 0;
}

.article-meta ul li {
  display: inline-block;
  font-size: small;
  margin: 0 0.5rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

hr {
  border-style: solid;
  color: var(--neutral-main);
  margin: 0.5rem auto;
}

main hr {
  display: none;
}

h2 + ol,
h2 + ul {
  padding-left: 0;
}

ol, ul {
  margin-top: 0;
}

li p { margin-bottom: 0; }

main h3 + ol li > ul li,
main h3 + ol li > ol li {
  font-weight: normal;
}

ol li:first-of-type p { margin-top: 0; }

.button.red {
  background-color: var(--red-main);
}

.button.yellow {
  background-color: var(--yellow-main);
}

.button.blue {
  background-color: var(--blue-dark);
}

.top-buttons a,
.button {
  box-shadow: 0 0 10px rgba(0,0,0,0.16), 0 0 10px rgba(0,0,0,0.23);
  border-radius: 1rem;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  margin: 0.25rem 0;
  color: white;
}

.button:visited {
  color: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid var(--neutral-main);
  max-width: 100%;
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
  box-sizing: border-box;
}

table td,
table th {
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
  width: 7.5rem;
}

table td:not(:first-of-type),
table th:not(:first-of-type) {
  border-left: 1px solid var(--neutral-main);
}

table thead {
    background-color: var(--yellow-light);
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

table td {
    background-color: transparent;
}
table td {
    background-color: rgba(0, 0, 0, 0.05);
}

tbody tr:not(first-child) {
  border-top: 1px solid var(--neutral-main);
}

table tr:nth-child(2n-1) td {
    background-color: var(--neutral-light);
}

input[type=checkbox].toggle {
  width: 75px;
  height: 34px;
  z-index: 99999999;
}

input[type=checkbox].toggle,
.hamburger {
    position: absolute;
    right: 0;
    top: 2.75rem;
    margin: 0;
}

.hamburger {
    z-index: 9999999;
    box-shadow: 0 0px 15px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1rem;
}

.hamburger p {
  margin: 0 0 0 0.25rem;
  line-height: 1;
  font-weight: 500;
}

.hamburger span {
    height: 2px;
    border-radius: 2px;
    background-color: var(--black-main);
    margin-bottom: 2px;
    display: block;
    transition: all 500ms;
    width: 10px;
}

.hamburger span:last-child {
    margin-bottom: 0;
}

.toggle {
    z-index: 9999999;
    opacity: 0;
}

.toggle:hover {
    cursor: pointer;
}

.toggle ~ .nav-wrapper {
    transform: translateX(150%);
}

.toggle:checked ~ .nav-wrapper {
    transform: translateX(0);
}

.toggle:checked ~ .hamburger span {
    transition: all 300ms;
}

.toggle:checked ~ .hamburger span:nth-child(1) {
    transform: translateY(5px) rotateZ(45deg);
}

.toggle:checked ~ .hamburger span:nth-child(2) {
    transform: translateX(50%);
    opacity: 0;
}

.toggle:checked ~ .hamburger span:nth-child(3) {
    transform: translateY(-3px) rotateZ(-45deg)
}

nav { position: relative; display: flex; justify-content: space-between; flex-wrap: wrap;}

.nav-wrapper {
  width: 100vw;
  position: absolute;
  left: 0;
  height: calc(100vh - 5.5rem);
  top: 5.5rem;
  transition: all 300ms;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  box-sizing: border-box;
  overflow-y: auto;
  text-align: left;
  background-color: white;
  z-index: 999999;
}

nav.mobile ul li {
  display: block;
  text-align: right;
  margin: 0.75rem 1rem;
}

.breadcrumb { 
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  flex-wrap: nowrap;
  white-space: nowrap;
  background-color: var(--neutral-light);
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  flex-basis: 100%;
}

.breadcrumb li { margin-bottom: 0; padding-right: 0.25rem; }

.breadcrumb li:not(:first-of-type) {
  margin: 0;
}

.desktop { display: none; }

@media (min-width: 768px) {
  nav h2 { margin-top: 1rem; }
  .toggle ~ .nav-wrapper {
    transform: none;
  }

  .desktop { display: block; }

  .menu li { display: inline-block; margin: 0 0.25rem; }

  .nav-wrapper {
    position: relative;
    transform: translateX(0);
    top: 0;
    width: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }
  .mobile {
    display: none;
  }

  .top-buttons {
    display: none;
  }
  
}

@media (min-width: 1150px) {
  .top-buttons { 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between; 
    top: 0.5rem;
    right: 0.5rem;
    position: fixed;
    z-index: 99999999;
    flex-basis: 100%;
  }
}