{{ $year := .Get "year" }}
{{ $unit := .Get "unit" }}

{{ $homework := (index (index .Site.Data $year) $unit).homework }}

<div class="toc">
   <h2>Topics</h2>
   <ol>
   {{ range $homework.topics }}
      <li><a href="#{{ . | urlize }}" title="Jump to {{ . }}">{{ . }}</a></li>
   {{ end }}
   </ol>
</div>

<div class="questions">
   {{ range $homework.topics }}
      <h3 id="{{ . | urlize }}">{{ . }}</h3>
      {{ range where $homework.questions ".topic" . }}
         {{ $question := . }}
         <details id="{{ .label | urlize }}">
            <summary>
               {{ .label }}
               <span>
                  {{ with .source }} (<a href="{{ $question.source_link }}" title="NZQA source exam paper">{{ . }}</a>){{ end }}
                  <a class="heading-anchor permalink" title="Link to this question" href="#{{ .label | urlize }}">[Permalink]</a>
               </span>
            </summary>
            <div class="question">
               {{ with .image_path }}
                  <img src="{{ . }}" loading="lazy"/>
               {{ end }}

               <div>
                  {{ .text | markdownify }}
                  {{ with .hint }}
                     <details class="confirm">
                        <summary>🤔 Hints</summary>
                        {{ . | markdownify }}
                     </details>
                  {{ end }}
                  
                  {{ with .answer }}
                     <details class="confirm">
                        <summary>💡 Text Answer</summary>
                        {{ . | markdownify }}
                     </details>
                  {{ end }}

                  {{ with .youtube_id }}
                  <details class="confirm">
                     <summary>✍️ Video Answer</summary>
                     <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                        <iframe loading="lazy" src="https://www.youtube.com/embed/{{ . }}?autoplay=0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen></iframe>
                     </div>
                  </details>
                  {{ end }}

                  {{ with .marking_schedule_path }}
                  <details class="confirm">
                     <summary>✅ Marking Schedule</summary>
                     <img src="{{ . }}" loading="lazy"/>
                  </details>
                  {{ end }}
               </div>
            </div>
         </details>
      {{ end }}
   {{ end }}
</div>

<script>
   document.querySelectorAll("details.confirm > summary").forEach(function(element) {
      element.addEventListener("click", function(event) {
         if (!event.target.parentNode.open) {
            var res = window.confirm("Before viewing the answers, hints or video you must try the question to the best of your ability using your notes, and asking your friends.\n\n- Click 'Cancel' to try the question.\n- Click 'Okay' to continue.");
            if (res != true) {
               event.preventDefault();
            }
         }
      });
   });

   if (window.location.hash) {
      document.getElementById(window.location.hash.slice(1)).open = true;
   }
</script>