<h2 id="nga-kirita">Ngā Kirita<sup><a class="heading-anchor" href="#nga-kirita">🔗</a></sup></h2>

{{ $page := .Page }}

{{ with $page.Pages }}
    <ol>
        {{ range . }}
        <li>
            <a
                href="{{ .Permalink }}"
                title="Read {{ .Title }} notes for {{ $page.Title }}">
                {{ .Title }}
            </a> 
            (<a href="slides/{{ .Slug }}.html" title="View slides for {{ .Title }}">Slides</a>)
        </li>
        {{ end }}
    </ol>
{{ end }}

