<h2 id="classes">Classes<em> / Ngā Akoranga</em> <sup><a class="heading-anchor" href="#classes">🔗</a></sup></h2>

{{ $page := .Page }}

{{ with $page.Pages }}
    <ul class="unit-tree">
        {{ range .ByWeight }}
        <li>
            <a
                href="{{ .Permalink }}"
                title="Open {{ .Title | markdownify }}">
                {{ .Title | markdownify }}
            </a>

            {{ $class := .Page }}

            {{ with $class.Pages }}
                <ol>
                    {{ range .ByWeight }}
                    <li>
                        <a
                            href="/{{ .File.Dir }}"
                            title="Open {{ .Title | markdownify }}">
                            {{ .Title | markdownify }}
                            {{ with.Params.te_reo }}
                                <em> / {{ . }}</em>
                            {{ end }}
                            {{ with .Params.nzqa }}
                             (AS{{ . }})
                            {{ end }}
                            
                        </a> 
                    </li>
                    {{ end }}
                </ol>
            {{ end }}
        </li>
        {{ end }}
        <li><a href="/timer.html" title="Test Timer">Test Timer</a></li>
    </ul>
{{ end }}