<h2 id="units">Units<em> / Ngā Kōwae</em> <sup><a class="heading-anchor" href="#units">🔗</a></sup></h2>

{{ $page := .Page }}

{{ with $page.Pages }}
    <ol>
        {{ range . }}
        <li>
            <a
                href="/{{ .File.Dir }}"
                title="Open {{ .Title | markdownify }}">
                {{ .Title | markdownify }}
                {{ with .Params.te_reo }}
                    <em> / {{ . }}</em>
                {{ end }}
            </a>{{ if isset .Params "nzqa" }} (AS{{ .Params.nzqa }}){{ end }}
            <br/>
            {{ if isset .Params "nzqa" }}
                <ul><li>{{ .Params.assessment | title }}: {{ .Params.credits }} Level {{ .Params.level }} Credits</li></ul>
            {{ end }}
        </li>
        {{ end }}
    </ol>
{{ end }}

